* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
  
}

.aks{
  overflow: hidden; 
}
nav {
    background-color: #000000;
    cursor: pointer;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.1);
    position: sticky;
    top: 0;
    overflow: hidden;
    z-index: 10000;
}

a{
  text-decoration: none;
  color: black;  
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

nav li {
    height: 75px;
    font-size: 16px;
    font-weight: 500;
}

.logo {
    font-family: "Cinzel", serif;
    font-size: 40px;
    color: #567cb1;
    font-weight: 700;
    margin-left: 30px;
}

.web {
    color: #9d9ea0;
}

nav a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #fff;
}

nav li:first-child {
    margin-right: auto;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.9);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
}

.sidebar li {
    width: 100%;
}

.sidebar a {
    width: 100%;
    color: white;
}

.menu-btn {
    display: none;
}


header {
    height: 92vh;
    background-image: url(WhatsApp\ Image\ 2024-09-28\ at\ 13.57.29_03171a56.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    align-items: center;
    overflow: hidden;
}

.paragraph {
    color: white;
    font-size: 50px;
    padding: 290px 100px;
}

.para {
    color: rgb(148, 148, 148);
    text-align: center;
    font-weight: 300;
}

.para-firstspan {
    font-size: 70px;
    font-weight: 500;
    color: rgb(155, 154, 152);
}

.para-secondspan, .para-thirdspan {
    color: rgb(243, 227, 207);
}

/*................................ABOUT................................*/


.about {
    height: 700px;
    display: flex;
    overflow: hidden;
    flex-direction: row;
    padding: 60px 80px;
    background-color: #000000;
    text-align: center;
}

.about-div{
    display: flex;
}

.about-left-section {
    flex: 40%;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    display: inline-block;
}


.about-left-section img {
    width: 90%;
    height: auto;
    border-radius: 10px;
    margin-top: 90px ;
}

.about-right-section {
    flex: 60%;
    padding: 120px 50px;
    text-align: right;
}

.about-Wel {
    font-size: 35px;
    font-family: "Cinzel", serif;
    color: rgb(99, 146, 193);
    font-weight: 600;
}

.about p{
    color: rgb(119, 118, 118);
}

.about-us-btn {
    margin-top: 30px;
    font-size: 20px;
    padding: 12px 35px;
    border-radius: 50px;
    border: none;
    background-color: rgb(140, 138, 138);
    color: white;
    cursor: pointer;
}

.about-Welcome{
    color: white;
}

.about-us-btn:hover {
    background-color: rgb(65, 69, 72);
    transition: .3s;
}

button a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}


/*................................SERVICES................................*/

.services{
    height:1500px;
    overflow: hidden;
    width: 100%;
    background-image: url(images/service1.avif);
    padding: 20px 100px;
    background-repeat: no-repeat;
    background-size: cover;
}

.services-para{
    width: 100%;
    margin-top: 60px ;
}

.launch{
    font-size: 55px;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    color:#2c4b87;
    text-align: center;
    overflow: hidden;   
}

.second-para{
    color: rgb(83, 80, 80);
}

.services-para-second{
    width: 100%;
    padding: 0 390px;
}

.services-content-box{
    height: 600px;
    width: 100%;
    margin-top: 80px;
    padding: 0 70px ;
    justify-content: space-between;
    display: flex;
}

.second-service-content-box{
    margin-top: 22px;
    height: 500px;

}

.our-service{
    color: rgb(14, 56, 207);
}

.services-content-box-left{
    width: 45%;
    height: 100%;
    margin-right: 10px;
    background-color: #fbfbfbb8;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 60px;
    border-radius: 15px;
    border: 1px solid rgb(9, 86, 141);
}

.content-box-left-second{
    margin-right: 0;
}

.services-content-box-right{
    width: 53%;
    background-color: #fbfbfbb8;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    border-radius: 15px;
    padding-right: 60px;
    border: 1px solid rgb(0, 0, 0);

}

.left-box-main-name{
    font-size: 18px;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    margin-bottom: 8px;
    color: rgb(14, 56, 207);
}

.left-box-second-name{
    font-size: 35px;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
    letter-spacing: .5px;
    color: #1f1f1f;
    margin-bottom: 7px;
}

.left-box-third-name{
    line-height: 20px;
    font-size: 15px;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    margin-bottom: 25px;
    color: rgb(78, 77, 77);
}

.left-box-forth-ul li{
    list-style: none;
    font-weight: 500;
    margin-bottom: 13px;
}

.fa-circle-check{
    color: rgb(14, 56, 207);
    font-size: 18px;
}

.left-box-fifth-name{
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    margin-top: 80px;
    text-align: end;
}

.right-box-forth-ul li{
    list-style: none;
    font-weight: 500;
    margin-bottom: 11px;
}

.right-box-fifth-name{
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    margin-top: 40px;
    text-align: end;
}



/*..............................DESIGN.................*/


.design-container{
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items:  center;
    background-color: #000000;
}

.slider{
    position: absolute;
    inset: 80px 200px 80px 80px;
    background: #000;
    border-radius: 20px;
}

.slider .slides{
    position: absolute;
    top: 50% ;
    transform: translateY(-50%);     
    width: 240px;
    height: 320px;
    background: var(--img);
    background-position: top;
    background-size: cover;
    border-radius: 20px;
    transition: .5s;
    box-shadow: 0 25px 50px rgba(0,0,0,.5);
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.slider .slides:nth-child(1),
.slider .slides:nth-child(2)
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(0);
    box-shadow: 0 25px 50px  rgba(0,0,0,0);
    background-size: cover;

}

.slider .slides:nth-child(3)
{
    left: calc(50% + 240px);
    background-size: cover;
}

.slider .slides:nth-child(4)
{
    left: calc(50% + 500px);
    background-size: cover;
}

.slider .slides:nth-child(5)
{
    left: calc(50% + 760px);
    background-size: cover;
}

.slider .slides:nth-child(6)
{
    left: calc(50% + 1020px);
    background-size: cover;
    opacity: 0;
}

.buttons{
    position: absolute;
    bottom: 5px;
    display: flex;
    gap: 20px;
}

.buttons span{
    position: relative;
    width: 50px;
    height: 50px;
    background: #111;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.buttons span::before{
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    border-top: 4px solid #fff;
    border-left: 4px solid #fff;
    transform: rotate(315deg) translate(2px,2px);
}

.buttons span:nth-child(2)::before{
    transform: rotate(135deg) translate(2px,2px);
}

.buttons span:active{
    opacity: .5;
}

.content{
    position: relative;
    padding: 40px;
    max-width: 600px;
    transition: .25s;
    transition-delay: 0s;
    transform: translateY(40px);
    z-index: 10000;
    opacity: 0;
    background-color: #000000a3;
    border-radius: 20px;
}

.content h2{
    font-size: 3rem;
    color: #fdfeff;  
}

.content p{
    color: #1b79d0;  
}

.content p a{
  color: #f1f1f1;  
}

.slider .slides:nth-child(1) .content,
.slider .slides:nth-child(2) .content
{
    opacity: 1;   
    transform: translateY(0px);
    transition-delay: .5s;
}


.nextsection{
    height: 900px;
    width: 100%;
    overflow: hidden;
    background-color: black;
}

                                                                                             


/*............................CONTACT............................*/
.contact-section{
  overflow: hidden;
}
.contact-container {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 2rem;
    background-color: #ffffff;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .form {
    width: 100%;
    max-width: 820px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  
  .contact-form {
    background-color: #2c648f;
    position: relative;
  }
  
  .circle {
    border-radius: 50%;
    background: linear-gradient(135deg, transparent 20%, #4d8abc);
    position: absolute;
  }
  
  .circle.one {
    width: 130px;
    height: 130px;
    top: 130px;
    right: -40px;
  }
  
  .circle.two {
    width: 80px;
    height: 80px;
    top: 10px;
    right: 30px;
  }
  
  .contact-form:before {
    content: "";
    position: absolute;
    width: 26px;
    height: 26px;
    background-color: #1a73bc;
    transform: rotate(45deg);
    top: 50px;
    left: -13px;
  }
  
  form {
    padding: 2.3rem 2.2rem;
    z-index: 10;
    overflow: hidden;
    position: relative;
  }
  
  .title {
    color: #fff;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1;
    margin-bottom: 0.7rem;
  }
  
  .input-container {
    position: relative;
    margin: 1rem 0;
  }
  
  .input {
    width: 100%;
    outline: none;
    border: 2px solid #fafafa;
    background: none;
    padding: 0.6rem 1.2rem;
    color: #fff;
    font-weight: 500;
    font-size: 0.95rem;
    letter-spacing: 0.5px;
    border-radius: 25px;
    transition: 0.3s;
  }
  
  textarea.input {
    padding: 0.8rem 1.2rem;
    min-height: 150px;
    border-radius: 22px;
    resize: none;
    overflow-y: auto;
  }
  
  .input-container label {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    padding: 0 0.4rem;
    color: #fafafa;
    font-size: 0.9rem;
    font-weight: 400;
    pointer-events: none;
    z-index: 1000;
    transition: 0.5s;
  }
  
  .input-container.textarea label {
    top: 1rem;
    transform: translateY(0);
  }
  
  .contact-btn {
    padding: 0.6rem 1.3rem;
    background-color: #fff;
    border: 2px solid #fafafa;
    font-size: 0.95rem;
    color: #0d4471;
    line-height: 1;
    border-radius: 25px;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    margin: 0;
  }
  
  .contact-btn:hover {
    background-color: transparent;
    color: #fff;
  }
  
  .input-container span {
    position: absolute;
    top: 0;
    left: 25px;
    transform: translateY(-50%);
    font-size: 0.8rem;
    padding: 0 0.4rem;
    color: transparent;
    pointer-events: none;
    z-index: 500;
  }
  
  .input-container span:before,
  .input-container span:after {
    content: "";
    position: absolute;
    width: 10%;
    opacity: 0;
    transition: 0.3s;
    height: 5px;
    background-color: #11668e;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .input-container span:before {
    left: 50%;
  }
  
  .input-container span:after {
    right: 50%;
  }
  
  .input-container.focus label {
    top: 0;
    transform: translateY(-50%);
    left: 25px;
    font-size: 0.8rem;
  }
  
  .input-container.focus span:before,
  .input-container.focus span:after {
    width: 50%;
    opacity: 1;
  }
  
  .contact-info {
    padding: 2.3rem 2.2rem;
    position: relative;
  }
  
  .contact-info .title {
    color: #000000;
  }
  
  .text {
    color: #6f6f6f;
    margin: 1.5rem 0 2rem 0;
  }
  
  .information {
    display: flex;
    color: #000000;
    margin: 0.7rem 0;
    align-items: center;
    font-size: 0.95rem;
  }
  
  .icon {
    width: 28px;
    margin-right: 0.7rem;
  }
  
  .social-media {
    padding: 2rem 0 0 0;
  }
  
  .social-media p {
    color: #333;
  }
  
  .social-icons {
    display: flex;
    margin-top: 0.5rem;
  }
  
  .social-icons a {
    width: 35px;
    height: 35px;
    border-radius: 5px;
    background: linear-gradient(45deg, #0e315a, #000000);
    color: #fff;
    text-align: center;
    line-height: 35px;
    margin-right: 0.5rem;
    transition: 0.3s;
  }
  
  .social-icons a:hover {
    transform: scale(1.05);
  }
  
  .contact-info:before {
    content: "";
    position: absolute;
    width: 110px;
    height: 100px;
    border: 22px solid #2c8bb0;
    border-radius: 50%;
    bottom: -77px;
    right: 50px;
    opacity: 0.3;
  }
  
  .big-circle {
    position: absolute;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background: linear-gradient(to bottom, #0e405f, #358ac6);
    bottom: 50%;
    right: 50%;
    transform: translate(-40%, 38%);
  }
  
  .big-circle:after {
    content: "";
    position: absolute;
    width: 360px;
    height: 360px;
    background-color: #fafafa;
    border-radius: 50%;
    top: calc(50% - 180px);
    left: calc(50% - 180px);
  }
  
  .square {
    position: absolute;
    height: 400px;
    top: 50%;
    left: 50%;
    transform: translate(181%, 11%);
    opacity: 0.2;
  }
  


  /*---------------------------------------FOOTER--------------------------------------------*/ 
  footer{
    height: 270px;
    margin: 0 5px;
    overflow: hidden;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: rgb(0, 0, 0);
    padding: 30px 20px;
  }

  .footersection{
    height: 100%;
    width: 100%;
  }

  .footer-logo{
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
  }

  .footer-logo img{
    width: 50px;
    border-radius: 50%;
  }

  .footer-navlinks{
    height: 80px;
    width: 100%;
    margin-top: 50px ;
    color: white;
    padding: 20px;
    font-weight: 200;
    border-top: 1px solid rgba(135, 135, 135, 0.692);
    border-bottom: 1px solid rgba(135, 135, 135, 0.692);
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  .footer-navlinks ul{
    text-decoration: none;
    list-style: none;
    display: flex;
  }

  .footer-navlinks ul li{
    margin-right: 10px;
    font-size: 13px;
    font-weight: 300;
  }

  .footer-navlinks ul a{
    color: white;
  }

  .footer-navlinks h5{
    font-weight: 300;
  }

  .footermail{
    margin-right: 150px;
  }




/*........................................MEDIA-QUERY...................................................*/
@media (max-width: 1024px) {
    header{
        height: 88vh;
    }

    nav a{
        padding: 0 20px;
    }

    .para-firstspan{
        font-size: 60px;
    }

    .paragraph {
        font-size: 35px;
        padding: 250px 50px;
    }

    /*............................................ABOUT.............................................*/


    .about {
        flex-direction: column;
        padding: 50px 20px;
        height: 580px;
        padding-top: 70px;
    }

    .about-left-section, .about-right-section {
        height: 100%;
        width: 100%;
        margin-bottom: 0px;
        padding: 70px 40px;                                                                                                                                                                                                                                                                                                         
    }

    .about-left-section{
        padding-right: 0px;
    }

    .about-right-section{
        padding-left: 45px;
        padding-top: 65px;
        padding-bottom: 60px;
    }

    .about-left-section img {
        width: 100%;
        margin-top: 30px;
    }

    .about-Wel{
        font-size: 30px;

    }

    .about p {
        font-size: 14px;
    }

    /*-----------------------------------------service----------------------------------------*/

    .services{
        height: 800px;
        padding: 20px 50px;
    }

    .launch{
        font-size: 50px;
    }

    .services-para-second{
        padding: 0 150px;
    }


}


@media (max-width: 800px) {
    .hide {
        display: none;
    }

    .menu-btn {
        display: block;
    }
}



@media (max-width: 600px) {
    .sidebar {
        width: 100%;
    }

    .sidebar li {
        padding: 20px;
    }

    header .paragraph {
        padding: 100px 20px;
    }

    .about-left-section img {
        width: 100%;
    }

    .about-div{
      align-items: center;
    }

   .nextsection{
    height: 700px;
   }
    
}




@media only screen and (max-width:768px)
 {

    .logo{
        font-size: 38px;
        margin-left: 5px;
     }
    .paragraph{
        font-size: 30px;
        padding: 200px 10px;
        padding-left: 30px;
        padding-right:   20px ;
    }
    .para-firstspan{
        font-size: 45px;
    }
    .about-right-section{
        padding-left: 20px;
        padding-top: 20px;
    }
    .launch{
        font-size: 40px;
    }
    .services-para-second{
        padding: 0 70px;
    }

    .services{
        height: 1500px;
        padding: 20px 30px;
    }

    .services-content-box-left{
        width: 49%;
       padding-right: 1px;
         padding-left: 10px;

        height: 600px;
        font-size: 14px;
        
    }
    .left-box-forth-ul{
        padding-right:9px ;
    }
    .left-box-fifth-name{
        
       
    }

    .services-content-box
    {
        padding: 0 10px;
    }

    .left-box-second-name{
          font-size: 25px;
    }
    
    .services-content-box-right{
        width: 49%;
        padding-left: 10px;
        padding-right: 10px;
        height:600px ;
        font-size: 14px;

 }

   .right-box-forth-ul{
    padding-right: 9px;
   }

   .right-box-fifth-name{
      padding-top: 40px;
   }

   .content-box-right-second{
      width: 50%;
      height: 500px;
   }


   /*baki hh <----------------------*/
    .content-box-left-second{
      width: 50%;
      
   }

   .footer-navlinks
   {
       justify-content: space-evenly; 
       padding: 0;
         
  } 
 }

 

@media only screen and  (max-width:1024px){
  .services{
    height: 1500px;
    padding: 20px 0px;
  }  

  .services-content-box-left{
    width: 49%;
    padding-right: 1px;
    padding-left: 20px;
    padding-top: 30px;
    height: auto;
    font-size: 14px;
  }

  .left-box-fifth-name{
    margin-top: 70px;
    margin-right: 20px;
  }

  .services-content-box-right{
   
    padding-left: 20px;
    padding-right: 10px;
    padding-top: 30px;
   
    font-size: 14px;
    margin-top: 0px;
  }

  .right-box-fifth-name{
    margin-top: 45px;
    margin-right: 20px;
  }

  .content-box-left-second{
    width: 45%;
    padding-right: 1px;
    padding-left: 20px;
    padding-top: 30px;
    font-size: 14px;
    margin-top: 0px;
  }

  .nextsection{
    height: 7 00px;
  }
}



/*.......................................DESIGN MEDIA...................................*/

@media (max-width: 900px)
{
    .slider{
        position: absolute;
        inset: 40px 40px 200px 40px;
    }

    .slider .slides
    {
        width: 100px;
        height: 100px;
        bottom: -170px;
        top: initial;
        box-shadow: 0 10px 20px rgba(0,0,0,0.25);
    }

    .slider .slides:nth-child(1),
    .slider .slides:nth-child(2)
    {
        top: initial;
        bottom: 0px;
    }

    .slider .slides:nth-child(3)
    {
        left: 0;
    }
    .slider .slides:nth-child(4)
    {
        left: 120px;
    }
    .slider .slides:nth-child(5)
    {
        left: 240px;
    }
    .slider .slides:nth-child(6)
    {
        left: 360px;
    }

}

@media (max-width: 600px) {
    .slides{
        background-size: contain;
    }

    .content{
        padding: 40px 30px;
    }
  
    .content h2{
        font-size: 2rem;
    }
}

/*..........................................CONTACT-QUERY.......................................*/



@media (max-width: 850px) {
    .form {
      grid-template-columns: 1fr;
    }
  
    .contact-info:before {
      bottom: initial;
      top: -75px;
      right: 65px;
      transform: scale(0.95);
    }
  
    .contact-form:before {
      top: -13px;
      left: initial;
      right: 70px;
    }
  
    .square {
      transform: translate(140%, 43%);
      height: 350px;
    }
  
    .big-circle {
      bottom: 75%;
      transform: scale(0.9) translate(-40%, 30%);
      right: 50%;
    }
  
    .text {
      margin: 1rem 0 1.5rem 0;
    }
  
    .social-media {
      padding: 1.5rem 0 0 0;
    }
  }
  
  @media (max-width: 480px) {
    .container {
      padding: 1.5rem;
    }
  
    .contact-info:before {
      display: none;
    }
  
    .square,
    .big-circle {
      display: none;
    }
  
    form,
    .contact-info {
      padding: 1.7rem 1.6rem;
    }
  
    .text,
    .information,
    .social-media p {
      font-size: 0.8rem;
    }
  
    .title {
      font-size: 1.15rem;
    }
  
    .social-icons a {
      width: 30px;
      height: 30px;
      line-height: 30px;
    }
  
    .icon {
      width: 23px;
    }
  
    .input {
      padding: 0.45rem 1.2rem;
    }
  
    .btn {
      padding: 0.45rem 1.2rem;
    }
  }


  /*--------------------------------its about services section media query ------------------------------*/

  @media only screen and  (max-width:600px){

    .logo{
        font-size: 38px;
        margin-left: 5px;
     }  

    header{
        height: 99vh;
    }

    .para{
       padding-top: 100px;

    }




    .about{
        padding: 50px 50px;
        height: 750px;
        justify-content: center;
       
    }

    .about-div{
      display: block; 

    }
    
    .about-left-section{
        margin-bottom: 0px;
        padding: 50px  40px 10px; 
        width: 100%;
        text-align: center;
        height: 10px;
    }

    .about-right-section{
       text-align: center;
       padding: 20px 0px;
       
    }

    .about-Wel{
        font-size: 25px;
        text-align: center;
        padding: 10px 0px;
    }

    
     .services{
        height: 2180px;
        padding: 10px 0px;
     }
     
     .services-para{
        width: auto;
        margin-top: 30px;
     }
      
     .launch{
        font-size: 26px;
     }

     .services-para-second{
        padding: 0px 20px;
      
    }

    .second-para{
        font-size: 15px;
        margin-top: 10px;
        padding: 0px 10px;
 
    } 
    
    .services-content-box{
        display: block;
        margin-top: 20px;
    }

    .services-content-box-left{
        width: 100%;
        padding-right: 1px;
        padding-left: 10px;
        padding-top: 10px;
        height  : 520px;
        font-size: 14px;
    }

    .services-content-box-right{
        width: 100%;
        padding-right: 1px;
        padding-left: 10px;
        padding-top: 10px;
        height:520px;
        font-size: 14px;
        margin-top: 10px;
    }

    .content-box-right-second{
        width: 100%;
        padding-right: 1px;
        padding-left: 10px;
        padding-top: 10px;
        height: auto;
        font-size: 14px;
        margin-top: 460px;
    }

    .content-box-left-second{
        width: 100%;
        padding-right: 1px;
        padding-left: 10px;
        padding-top: 10px;
        height: 420px;
        font-size: 14px;
        margin-top: 10px;
    }

    .left-box-fifth-name{
      margin-top: 40px;
    }

    .right-box-fifth-name{
      margin-top: 0px;
    }
  


}





/*----------------------its footer tablet and mobile media query--------------------------------*/

@media only screen and  (max-width:800px){
    .footer-navlinks{
       display: flex;
       justify-content: space-between;
       align-items: center;
       padding: 10px 0px;
       font-size: 16px;
    }

    .footermail{
       font-size: 15px;
       padding-left: 30px;
    }

     /* thoda baki h*/
}


@media only screen and (max-width:600px) {
   .footer-navlinks{
       flex-direction: column;
       justify-content: center;
       align-items: center;
       padding: 10px 0px;
       font-size: 14px;
    }
    .footermail{
       font-size: 14px;
       padding-left: 150px;
    }


  
}


@media screen and  (max-width:416px) {
    .logo{
      font-size: 30px;
    }

    .paragraph{
      text-align: center;
    }


    .para{
      font-size: 20px;
    }

    .para-firstspan{
      font-size: 40px;
    }

    .about-Wel
    {
      font-size: 20px;
    }

  }

  @media screen and (max-width:376px ){
    .paragraph{
      text-align: center;
    }

    .para{
      font-size: 20px;  
    }

    .para-firstspan{
      font-size: 38px;
    }
  }


  @media screen and (max-width:358px){
    .paragraph{
      text-align: center;
    }
    .para{
      font-size: 30px;  
    }

    .para-firstspan{
      font-size: 34px;
    }

  .about{
    padding: 20px;
    padding-left: 20px;
    height: auto;
    justify-content: center;
  }
  }


  @media screen and (max-width:348px){
    .paragraph{
      text-align: center;
      
    }
    .para{
      font-size: 28px;  
    }

    .para-firstspan{
      font-size: 32px;
    }

    .left-box-fifth-name{
      
    margin-top: 0;
    }

    .right-box-fifth-name{
      padding-top: 10px  ;
    }
  }

  @media screen  and (max-width:660px ){
    .left-box-fifth-name{
      margin-top: 0;
    }

    .right-box-fifth-name{
      padding-top: 10px;
    }
  }


  @media screen and  (max-width:330px){
    .services-content-box-left{
      font-size:12px;
    } 
  
  }

  @media screen and (min-width:298px)  and  (max-width:318px) {
     .para{
       font-size:20px;
     }

     .para-firstspan{
       font-size:30px;
     }
    
  }
  
  @media screen and (min-width:250px) and (max-width:298px) {

         .para{
       font-size:15px;
     }

     .para-firstspan{
       font-size:40px;
     }
    
  }

  @media screen and (max-width:425px){
   .para{
     font-size: 20px;
 
   }

   
    
  }

  @media screen and (min-width:622px)  and  (max-width:1500px)
  {
    .nextsection{
      height: 700px;
    }
  }

 @media screen and (max-width:336px) {
  .right-box-forth-ul{
    font-size: 13px;
  }

  .left-box-fifth-name{
  padding-top: 20px;
  }

  .right-box-fifth-name{
    padding-top: 20px;
    }
 }

 @media screen and (max-width:308px)
 {
  .right-box-forth-ul{
    font-size: 12px;
  }

  .left-box-fifth-name{
  padding-top: 0px;
  }
 }

 @media screen and (max-width:297px) {
  .right-box-forth-ul{
    font-size: 12px;
  }

  .left-box-fifth-name{
  padding-top: 0px;
}
   .services-content-box-left{
    font-size: 11px;
    
   }
 }

 .fa-instagram{
  font-size: 25px;
}